# loading data into pandas

In [1]:
import pandas as pd

df = pd.read_csv('pokemon_data.csv')

In [2]:
print(df.head(4))

   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122

   Sp. Def  Speed  Generation Legendary
0       65   45.0         1.0     False
1       80   60.0         1.0     False
2      100   80.0         1.0     False
3      120   80.0         1.0     False

In [3]:
print(df.tail(4))

       #                 Name   Type 1 Type 2  HP  Attack  Defense  Sp. Atk  \
796  719  DiancieMega Diancie     Rock  Fairy  50     160      110      160
797  720  HoopaHoopa Confined  Psychic  Ghost  80     110       60      150
798  720   HoopaHoopa Unbound  Psychic   Dark  80     160       60      170
799  721            Volcanion     Fire  Water  80     110      120      130

     Sp. Def  Speed  Generation Legendary
796      110  110.0         6.0      True
797      130   70.0         6.0      True
798      130   80.0         6.0      True
799       90    NaN         NaN       NaN

# reading data in pandas

In [4]:
# reading headers

print(df.columns)

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [5]:
# read each column

# print(df.Name)
# print(df['Name'][0:5])

print(df[['Name', 'Type 1', 'HP']])

                      Name   Type 1  HP
0                Bulbasaur    Grass  45
1                  Ivysaur    Grass  60
2                 Venusaur    Grass  80
3    VenusaurMega Venusaur    Grass  80
4               Charmander     Fire  39
..                     ...      ...  ..
795                Diancie     Rock  50
796    DiancieMega Diancie     Rock  50
797    HoopaHoopa Confined  Psychic  80
798     HoopaHoopa Unbound  Psychic  80
799              Volcanion     Fire  80

[800 rows x 3 columns]

In [6]:
# read each row

# for index, row in df.iterrows():
#     print(index, row)
#     print(index, row['Name'])

# print(df.iloc[1])

df.loc[df['Type 1'] == 'Grass']

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45.0,1.0,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60.0,1.0,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80.0,1.0,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80.0,1.0,False
48,43,Oddish,Grass,Poison,45,50,55,75,65,30.0,1.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,56,61,65,48,45,38.0,6.0,False
719,651,Quilladin,Grass,NaN,61,78,95,56,58,57.0,6.0,False
720,652,Chesnaught,Grass,Fighting,88,107,122,74,75,64.0,6.0,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52.0,6.0,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68.0,6.0,False

In [7]:
# read specific locations(R,C)

print(df.iloc[3,2])

Grass

In [8]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,799.000000,799.000000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.275344,3.320401
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.078612,1.659626
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.000000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.000000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.000000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.000000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.000000

In [9]:
df.sort_values('Name', ascending=False)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95.0,6.0,True
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58.0,5.0,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55.0,1.0,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65.0,5.0,False
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105.0,5.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115.0,3.0,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75.0,3.0,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90.0,1.0,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30.0,4.0,False
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60.0,4.0,False